// Margins

.m0  { margin: 0; }
.mb0 { margin-bottom: 0; }

.m1  { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mr1 { margin-right: 1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left: 1rem; }

.m2  { margin: 2rem; }
.mt2 { margin-top: 2rem; }
.mr2 { margin-right: 2rem; }
.mb2 { margin-bottom: 2rem; }
.ml2 { margin-left: 2rem; }

.m3  { margin: 3rem; }
.mt3 { margin-top: 3rem; }
.mr3 { margin-right: 3rem; }
.mb3 { margin-bottom: 3rem; }
.ml3 { margin-left: 3rem; }

.m4  { margin: 4rem; }
.mt4 { margin-top: 4rem; }
.mr4 { margin-right: 4rem; }
.mb4 { margin-bottom: 4rem; }
.ml4 { margin-left: 4rem; }

// Wrapper for horizontally centering elements with a fixed width
.wrap { margin-right: auto; margin-left: auto; }

// Responsive margins
.mq { margin: 2rem; }
.mtq { margin-top: 2rem; }
.mrq { margin-right: 2rem; }
.mbq { margin-bottom: 2rem; }
.mlq { margin-left: 2rem; }
@media (min-width: 48em) and (max-width: 64em) {
  .mq { margin: 3rem; }
  .mtq { margin-top: 3rem; }
  .mrq { margin-right: 3rem; }
  .mbq { margin-bottom: 3rem; }
  .mlq { margin-left: 3rem; }
}
@media (min-width: 64em) {
  .mq { margin: 4rem; }
  .mtq { margin-top: 4rem; }
  .mrq { margin-right: 4rem; }
  .mbq { margin-bottom: 4rem; }
  .mlq { margin-left: 4rem; }
}

