// Nav menus

.nav {
  a {
    display: block;
  }
}
.nav-inline {
  a {
    display: inline-block;
  }
}
.nav--padded {
  a {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

// Test this out first
.nav--spaced {
  a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

