// Positioning Utilities

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }

.absolute--center {
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: table;
}

