// States

.mobile-show {
  display: none;
}

@media (max-width: 48em) {
  .mobile-show,
  .mobile-block {
    display: block;
  }
  .mobile-hide { display: none; }
  // Mobile 100% width state?
}


// Hover group - should i even encourage this?

