// Table object
// For vertically centering elements

.table {
  display: table;
  width: 100%;
}
.table--fixed {
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

