// Theme

$blue: #0cf;
$dark: #1c2226;
$light-gray: #dadfe0;
$mid-gray: #cacfd0;

.theme {
  color: $dark;
  background-color: #fff;
  .reverse {
    color: rgba(#fff,.8);
    background-color: $dark;   
  }
  a, .link {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: darken($blue,10%);
    }
  }
  code {
    font-size: 1rem;
    background-color: $light-gray;
  }
  .blue { color: $blue; }
  .bg-blue { background-color: $blue; }
  .mid-gray { color: $mid-gray; }
  .bg-mid-gray { background-color: $mid-gray; }
  .light-gray { color: $light-gray; }
  .bg-light-gray { background-color: $light-gray; }
  .btn-dark {
    background-color: $dark;
  }
  .btn-blue {
    color: #fff;
    background-color: $blue;
    &:hover {
      color: #fff;
      background-color: darken($blue,20%);
    }
  }
}
.border-thick {
  border-width: .25em;
  border-style: solid; }
.rounded { border-radius: $space/2; }
.outline, .outline * { outline: 1px solid rgba($blue,.05); }
.btn {
  @extend .inline-block, .p, .bold, .p1, .rounded;
}
.transition-all { transition: all .3s ease; }

@-webkit-keyframes pulsate {
  0% { opacity: .9; }
  50% { opacity: 1; -webkit-transform: scale(1.05); }
  100% { opacity: .9; }
}
@keyframes pulsate {
  0% { opacity: .9; }
  50% { opacity: 1; transform: scale(1.05); }
  100% { opacity: .9; }
}
.pulsate {
  -webkit-animation: pulsate 4s linear infinite;
          animation: pulsate 4s linear infinite;
}

