/*
Syntax error: Undefined variable: "$breakpoint-desktop".
        on line 13 of scss/_type.scss
        from line 6 of ./site/styles.scss

8: @import "../scss/margins";
9: @import "../scss/padding";
10: @import "../scss/utilities";
11: @import "../scss/buttons";
12: @import "../scss/forms";
13: @import "../scss/lists";
14: @import "../scss/positions";
15: 
16: // Includes for site only
17: @import "theme";
18: @import "table-object";

Backtrace:
scss/_type.scss:13
./site/styles.scss:6
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:398:in `block in run_interp_no_strip'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:406:in `run_interp'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:360:in `visit_media'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/jackson/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$breakpoint-desktop\".\A         on line 13 of scss/_type.scss\A         from line 6 of ./site/styles.scss\A \A 8: @import \"../scss/margins\";\A 9: @import \"../scss/padding\";\A 10: @import \"../scss/utilities\";\A 11: @import \"../scss/buttons\";\A 12: @import \"../scss/forms\";\A 13: @import \"../scss/lists\";\A 14: @import \"../scss/positions\";\A 15: \A 16: // Includes for site only\A 17: @import \"theme\";\A 18: @import \"table-object\";"; }
