/*
Syntax error: Undefined variable: "$space".
        on line 6 of /Users/bjackson/Dropbox/repos/basscss/scss/_margins.scss
        from line 8 of ./site/styles.scss

1: // Custom styles for BASSCSS site
2: 
3: 
4: @import "../scss/reset";
5: 
6: @import "../scss/type";
7: 
8: @import "../scss/margins";
9: @import "../scss/padding";
10: @import "../scss/utilities";
11: @import "../scss/buttons";

Backtrace:
/Users/bjackson/Dropbox/repos/basscss/scss/_margins.scss:6
./site/styles.scss:8
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/script/tree/operation.rb:73:in `_perform'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/plugin.rb:108:in `method_missing'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/exec.rb:509:in `watch_or_update'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/exec.rb:346:in `process_result'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/exec.rb:43:in `parse'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/lib/sass/exec.rb:22:in `parse!'
/Users/bjackson/.rvm/gems/ruby-2.1.2/gems/sass-3.3.8/bin/sass:13:in `<top (required)>'
/Users/bjackson/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/Users/bjackson/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/bjackson/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/bjackson/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$space\".\A         on line 6 of /Users/bjackson/Dropbox/repos/basscss/scss/_margins.scss\A         from line 8 of ./site/styles.scss\A \A 1: // Custom styles for BASSCSS site\A 2: \A 3: \A 4: @import \"../scss/reset\";\A 5: \A 6: @import \"../scss/type\";\A 7: \A 8: @import \"../scss/margins\";\A 9: @import \"../scss/padding\";\A 10: @import \"../scss/utilities\";\A 11: @import \"../scss/buttons\";"; }
