/*
    Basscss Base
*/



body,
button {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p,
dl,
ol,
ul {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

pre,
code,
samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote,
blockquote p {
  font-size: 1.25rem;
  font-style: italic;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: .875rem;
}

h6,
.h6 {
  font-size: .75rem;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

input,
select,
textarea,
fieldset {
  margin-top: 0;
  margin-bottom: .5rem;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  line-height: 1.75;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 2.25em;
  padding: .25em 1rem;
  -webkit-appearance: none;
}

select {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 1.75;
  padding: .25em 1rem;
}

select:not([multiple]) {
  height: 2.25em;
}

textarea {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 1.75;
  padding: .25em 1rem;
}

.fieldset-reset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.fieldset-reset legend {
  padding: 0;
}

button,
.button {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 1.125;
  padding: .5em 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: .25em 1rem;
  line-height: inherit;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}