
// Converted Variables

$mid-gray: #777 !default;
$blue: #0076df !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Button Gray */

.button-gray {
  color: white;
  background-color: $mid-gray;
  border-radius: $border-radius;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}
  
.button-gray:hover {
  opacity: .875;
}

.button-gray:active,
.button-gray:is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba($blue, .5);
}

.button-gray:disabled,
.button-gray.is-disabled {
  opacity: .5;
}