
// Converted Variables

$blue: #0076df !default;
$light-gray: #ccc !default;
$dark-gray: #333 !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Button Light Gray */

.button-light-gray {
  color: $dark-gray;
  background-color: $light-gray;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-light-gray:hover {
  opacity: .875;
}

.button-light-gray:active,
.button-light-gray:is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-light-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba($blue, .5);
}

.button-light-gray:disabled,
.button-light-gray.is-disabled {
  opacity: .5;
}