// Buttons

.button {
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: $ui-height;
  height: auto;
  min-height: $ui-height;
  padding: 0 $ui-padding;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.button-big {
  line-height: $ui-height-big;
  min-height: $ui-height-big;
  padding: 0 1.5*$ui-padding;
}

.button-small {
  line-height: $ui-height-small;
  min-height: $ui-height-small;
}

