
// Converted Variables

$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$dark-gray: #333 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/*
 * Basscss Color Basic
 */

/* Base Element Themes */

body {
  color: $dark-gray;
  background-color: white;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.field-light {
  background-color: white;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
  border-radius: $border-radius;
}

.field-light:focus {
  outline: none;
  border-color: $blue;
  box-shadow: 0 0 2px rgba($blue,.5);
}

.field-light:disabled {
  color: $mid-gray;
  background-color: $darken-2;
}

.field-light:read-only:not(select) {
  background-color: $darken-2;
}

.field-light:invalid {
  border-color: $red;
}

.field-light.is-success {
  border-color: $green;
}

.field-light.is-warning {
  border-color: $yellow;
}

.field-light.is-error {
  border-color: $red;
}

.radio-light,
.checkbox-light {
  transition: box-shadow .2s ease;
}

.radio-light {
  border-radius: 50%;
}

.radio-light:focus,
.checkbox-light:focus {
  outline: none;
  box-shadow: 0 0 2px rgba($blue,.5);
}

.field-dark {
  color: white;
  background-color: $darken-3;
  border: 1px solid $darken-1;
  border-radius: $border-radius;
}

.field-dark::placeholder {
  color: rgba(#fff,.75);
}

.field-dark:focus {
  outline: 0;
  border: 1px solid rgba(#fff,.5);
}

.field-dark:read-only:not(select) {
  background-color: rgba(#fff,.25);
}

.field-dark:invalid {
  border-color: $red;
}

.field-dark.is-success {
  border-color: $green;
}

.field-dark.is-warning {
  border-color: $yellow;
}

.field-dark.is-error {
  border-color: $red;
}

.table-light th,
.table-light td {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.button-blue {
  color: white;
  background-color: $blue;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-blue:hover {
  opacity: .875;
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($blue, .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}

.button-blue-outline {
  line-height: 1;
  color: $blue;
  background-color: transparent;
  border-radius: $border-radius;
  border: 2px solid $blue;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-blue-outline:hover,
.button-blue-outline.is-active {
  color: white;
  background-color: $blue;
}

.button-blue-outline:active {
  box-shadow: inset 0 3px 3px 0 rgba(#000,.25);
}

.button-blue-outline:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($blue, .5);
}

.button-blue-outline:disabled,
.button-blue-outline.is-disabled {
  color: $blue;
  background-color: transparent;
  opacity: .5;
}

.button-gray {
  color: white;
  background-color: $mid-gray;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-gray:hover {
  opacity: .875;
}

.button-gray:active,
.button-gray:is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba($blue, .5);
}

.button-gray:disabled,
.button-gray.is-disabled {
  opacity: .5;
}

.button-red {
  color: white;
  background-color: $red;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-red:hover {
  opacity: .875;
}

.button-red:active,
.button-red.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-red:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($red, .5);
}

.button-red:disabled,
.button-red.is-disabled {
  opacity: .5;
}



.button-nav-light:hover {
  background-color: $darken-1;
}

.button-nav-light:active,
.button-nav-light.is-active {
  color: $dark-gray;
}

.button-nav-dark {
  color: white;
}

.button-nav-dark:hover {
  background-color: $darken-2;
}

.button-nav-dark:active,
.button-nav-dark.is-active {
  background-color: $darken-2;
}

.button-nav-tab {
  margin-bottom: -1px;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 1px solid $border-color;
}

.button-nav-tab:hover {
  background-color: $darken-1;
}

.button-nav-tab.is-active {
  background-color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.dark-gray {
  color: $dark-gray;
}

.white {
  color: white;
}

.blue {
  color: $blue;
}

.mid-gray {
  color: $mid-gray;
}

.light-gray {
  color: $light-gray;
}

.lighter-gray {
  color: $lighter-gray;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: $blue;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-lighter-gray {
  background-color: $lighter-gray;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-darken-1 {
  background-color: $darken-1;
}

.bg-darken-2 {
  background-color: $darken-2;
}

.bg-darken-3 {
  background-color: $darken-3;
}

.bg-darken-4 {
  background-color: $darken-4;
}

.border {
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
}

.border-top {
  border-top-style: solid;
  border-top-width: $border-width;
  border-top-color: $border-color;
}

.border-right {
  border-right-style: solid;
  border-right-width: $border-width;
  border-right-color: $border-color;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.border-left {
  border-left-style: solid;
  border-left-width: $border-width;
  border-left-color: $border-color;
}

.rounded {
  border-radius: $border-radius;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: $border-radius $border-radius 0 0;
}

.rounded-right {
  border-radius: 0 $border-radius $border-radius 0;
}

.rounded-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

.rounded-left {
  border-radius: $border-radius 0 0 $border-radius;
}

.not-rounded {
  border-radius: 0;
}

/* Defaults */