
// Converted Variables

$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$green: #2ecc40 !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$yellow: #ffdc00 !default;
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #fff !default;
$silver: #ddd !default;
$gray: #aaa !default;
$black: #111 !default;

// Custom Media Query Variables


/* Basscss Color Forms Dark */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

.field-dark {
  color: white;
  background-color: $darken-3;
  border: 1px solid $darken-1;
  border-radius: $border-radius /* Fallback value:  3px */;
}

.field-dark::-webkit-input-placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark::-moz-placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark:-ms-input-placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark::placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark:focus {
  outline: 0;
  border: 1px solid rgba(255,255,255,.5);
}

.field-dark:read-only:not(select) {
  background-color: rgba(255,255,255,.25);
}

.field-dark:invalid {
  border-color: $red;
}

.field-dark.is-success {
  border-color: $green;
}

.field-dark.is-warning {
  border-color: $yellow;
}

.field-dark.is-error {
  border-color: $red;
}