/*
 * Basscss Color Basic
 */

/* Base Element Themes */

body {
  color: #333;
  background-color: white;
}

a {
  color: #0076df;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: #eee;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.dark-gray {
  color: #333;
}

.white {
  color: white;
}

.blue {
  color: #0076df;
}

.mid-gray {
  color: #777;
}

.light-gray {
  color: #ccc;
}

.lighter-gray {
  color: #eee;
}

.red {
  color: #f95020;
}

.green {
  color: #00d930;
}

.yellow {
  color: #ffdc00;
}

.bg-dark-gray {
  background-color: #333;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #0076df;
}

.bg-mid-gray {
  background-color: #777;
}

.bg-light-gray {
  background-color: #ccc;
}

.bg-lighter-gray {
  background-color: #eee;
}

.bg-red {
  background-color: #f95020;
}

.bg-green {
  background-color: #00d930;
}

.bg-yellow {
  background-color: #ffdc00;
}

.bg-darken-1 {
  background-color: rgba(0, 0, 0, .0625);
}

.bg-darken-2 {
  background-color: rgba(0, 0, 0, .125);
}

.bg-darken-3 {
  background-color: rgba(0, 0, 0, .25);
}

.bg-darken-4 {
  background-color: rgba(0, 0, 0, .5);
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ccc;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ccc;
}

.rounded {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.field-light {
  background-color: white;
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 3px;
}

.field-light:focus {
  outline: none;
  border-color: #0076df;
  box-shadow: 0 0 2px rgba(0, 118, 223, .5);
}

.field-light:disabled {
  color: #777;
  background-color: rgba(0, 0, 0, .125);
}

.field-light:read-only:not(select) {
  background-color: rgba(0, 0, 0, .125);
}

.field-light:invalid {
  border-color: #f95020;
}

.field-light.is-success {
  border-color: #00d930;
}

.field-light.is-warning {
  border-color: #ffdc00;
}

.field-light.is-error {
  border-color: #f95020;
}

.radio-light,
.checkbox-light {
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
}

.radio-light {
  border-radius: 50%;
}

.radio-light:focus,
.checkbox-light:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(0, 118, 223, .5);
}

.table-light th,
.table-light td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.button-blue {
  color: white;
  background-color: #0076df;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-blue:hover {
  opacity: .875;
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}

.button-blue-outline {
  line-height: 1;
  color: #0076df;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #0076df;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-blue-outline:hover,
.button-blue-outline.is-active {
  color: white;
  background-color: #0076df;
}

.button-blue-outline:active {
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .25);
}

.button-blue-outline:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-blue-outline:disabled,
.button-blue-outline.is-disabled {
  color: #0076df;
  background-color: transparent;
  opacity: .5;
}

.button-gray {
  color: white;
  background-color: #777;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-gray:hover {
  opacity: .875;
}

.button-gray:active,
.button-gray:is-active {
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-gray:disabled,
.button-gray.is-disabled {
  opacity: .5;
}

.button-red {
  color: white;
  background-color: #f95020;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-red:hover {
  opacity: .875;
}

.button-red:active,
.button-red.is-active {
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-red:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(249, 80, 32, .5);
}

.button-red:disabled,
.button-red.is-disabled {
  opacity: .5;
}

/* Defaults */

