
// Converted Variables

$light-gray: #ccc !default;
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Color Borders */

.border {
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
}

.border-top {
  border-top-style: solid;
  border-top-width: $border-width;
  border-top-color: $border-color;
}

.border-right {
  border-right-style: solid;
  border-right-width: $border-width;
  border-right-color: $border-color;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.border-left {
  border-left-style: solid;
  border-left-width: $border-width;
  border-left-color: $border-color;
}

.rounded {
  border-radius: $border-radius;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: $border-radius $border-radius 0 0;
}

.rounded-right {
  border-radius: 0 $border-radius $border-radius 0;
}

.rounded-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

.rounded-left {
  border-radius: $border-radius 0 0 $border-radius;
}

.not-rounded {
  border-radius: 0;
}