
// Converted Variables

$darken-2: rgba(0,0,0,.125) !default;
$border-color: $darken-2 !default;
$border-width: 1px !default;

// Custom Media Query Variables


/* Basscss Color Tables */

.table-light th,
.table-light td {
  border-bottom-width: $border-width;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
}

.table-light tr:last-child td {
  border-bottom: 0;
}