
// Converted Variables

$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$dark-gray: #333 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Color Base */

body {
  color: $dark-gray;
  background-color: white;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}