// Forms

.form {
  font-size: 1rem;

  .form-control,
  .input,
  .select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: $ui-height;
    line-height: $ui-height - $ui-padding;
  }
  .input {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    padding: .5*$ui-padding $ui-padding;
  }
  // Add custom select styles
  .select {
    margin-right: 0;
    margin-left: 0;
  }

  .textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: $ui-padding;
    line-height: 1.5;
  }
  .form-control-big,
  .input-big {
    height: $ui-height-big;
    //line-height: $ui-height-big - $ui-padding;
  }

  .form-control-small,
  .input-small {
    height: $ui-height-small;
    line-height: $ui-height-small - $ui-padding;
  }
}


.form-stacked {
  label,
  .input,
  .select {
    display: block;
    width: 100%;
  }
  .input,
  .select,
  .radio,
  .checkbox {
    margin-bottom: 1rem;
  }
}

// Add
// Custom selects
// Custom radios
// Custom checkboxes

// Thematic styles

.form-light {
  .input,
  .textarea,
  .select {
    transition: box-shadow .2s ease;
    border-color: $border-color;
    border-radius: $border-radius;
    &:focus {
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 .125rem rgba($blue,.5);
    }
  }
  .radio input,
  .checkbox input {
    transition: box-shadow .2s ease;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
    }
  }
  .radio input {
    border-radius: 50%;
  }
}

