// Forms

.form {
  font-size: 1rem;
  .field,
  .input,
  .select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: $ui-height;
    line-height: $ui-height - $ui-padding;
  }
  .input,
  .select {
    border-style: solid;
    border-width: 1px;
  }
  .select {
    margin-right: 0;
    margin-left: 0;
    &[multiple] {
      height: auto;
    }
  }
  .input {
    padding: .5*$ui-padding $ui-padding;
    -webkit-appearance: none;
    appearance: none;
  }
  .textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: $ui-padding;
    line-height: 1.5;
  }
  .field-big,
  .input-big {
    height: $ui-height-big;
  }
  .field-small,
  .input-small {
    height: $ui-height-small;
    line-height: $ui-height-small - $ui-padding;
  }
}

.form-stacked {
  .label,
  .input,
  .select,
  .checkbox,
  .radio,
  .fieldset,
  .field {
    display: block;
    width: 100%;
  }
  .input,
  .select,
  .radio,
  .checkbox,
  .fieldset,
  .field {
    margin-bottom: 1rem;
  }
}

