// Lists

// CHANGED .list
// Simple unbulleted list
// CHANGED .list-simple
.list-reset {
  list-style: none;
  padding-left: 0;
}

// Inline list
// CHANGED reset styles
.list-inline {
  li {
    display: inline;
    white-space: nowrap;
  }
}

