// Margins

.m0  { margin: 0; }
.mb0 { margin-bottom: 0; }

.m1  { margin: .5*$space; }
.mt1 { margin-top: .5*$space; }
.mr1 { margin-right: .5*$space; }
.mb1 { margin-bottom: .5*$space; }
.ml1 { margin-left: .5*$space; }

.m2  { margin: $space; }
.mt2 { margin-top: $space; }
.mr2 { margin-right: $space; }
.mb2 { margin-bottom: $space; }
.ml2 { margin-left: $space; }

.m3  { margin: 2*$space; }
.mt3 { margin-top: 2*$space; }
.mr3 { margin-right: 2*$space; }
.mb3 { margin-bottom: 2*$space; }
.ml3 { margin-left: 2*$space; }

.m4  { margin: 4*$space; }
.mt4 { margin-top: 4*$space; }
.mr4 { margin-right: 4*$space; }
.mb4 { margin-bottom: 4*$space; }
.ml4 { margin-left: 4*$space; }


// Wrapper for horizontally centering elements with a set width
.wrap { margin-right: auto; margin-left: auto; }


