// Nav Component

// Sets line height, display block, padding, and white-space nowrap
.nav {
  line-height: $ui-height;
  & > a,
  .nav-item {
    display: block;
    line-height: inherit;
    white-space: nowrap;
  }
  & > a {
    padding-right: $ui-padding;
    padding-left: $ui-padding;
  }
}

// Sets display table at all sizes
.mobile-nav-table {
  display: table;
  & > a,
  .nav-item {
    display: table-cell;
    vertical-align: middle;
  }
}

// Sets display table above breakpoint
@media (min-width: $breakpoint-mobile) {
  .nav-table {
    display: table;
    & > a,
    .nav-item {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Extension to set all nav-table items equal width
// Use with .full-width to span the full width of container
.nav-table-fixed { table-layout: fixed; }

// Extension to add padding to .nav-item
.nav-item-px {
  padding-right: $ui-padding;
  padding-left: $ui-padding;
}

// Height extensions
.nav-big   { line-height: $ui-height-big; }
.nav-small { line-height: $ui-height-small; }

// Extension to align with surrounding content
.nav-flush {
  margin-right: -$ui-padding;
  margin-left:  -$ui-padding;
}

