/*

  Table Object
  http://jxnblk.github.io/table-object

*/

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-fixed {
  table-layout: fixed;
}

@media (min-width: 40em) {
  .sm-table {
    display: table;
    width: 100%;
  }

  .sm-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 52em) {
  .md-table {
    display: table;
    width: 100%;
  }

  .md-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 64em) {
  .lg-table {
    display: table;
    width: 100%;
  }

  .lg-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}