// Example theme
//
// Edit these styles to adjust the look and feel of your site


$blue: #0096cc;
$light-gray: #eee;
$mid-gray: #777;
$dark-gray: #333;

$red: #f52;
$green: #0f6;
$orange: #fc2;


.white { color: #fff; }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.mid-gray { color: $mid-gray; }
.dark-gray { color: $dark-gray; }

.red { color: $red; }
.green { color: $green; }
.orange { color: $orange; }

.bg-white { background-color: #fff; }
.bg-blue { background-color: $blue; }
.bg-light-gray { background-color: $light-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-dark-gray { background-color: $dark-gray; }

.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-orange { background-color: $orange; }


// Base theme styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
  }
}


// Buttons

.button {
  border-radius: .25rem;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
  }
}

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: darken($blue, 20%);
  }
}

.button-gray {
  color: #fff;
  background-color: $mid-gray;
  &:hover {
    color: #fff;
    background-color: darken($mid-gray, 20%);
  }
  &:focus {}
}


// Forms

.form-light {
  .input,
  .textarea,
  .select {
    transition: box-shadow .2s ease;
    border-color: $mid-gray;
    &:focus {
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 .125rem rgba($blue,.5);
    }
  }
  .radio input,
  .checkbox input {
    transition: box-shadow .2s ease;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
    }
  }
  .radio input {
    border-radius: 50%;
  }
}


// Borders

.border {
  border-style: solid;
  border-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-light-gray {
  border-color: $light-gray;
}

// Utilities
.rounded { border-radius: .25rem; }
.transition-all { transition: all .2s ease; }

