// Type

body {
  font-family: $font-family;
  line-height: $line-height;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 { line-height: $line-height-heading; }

// Base Type Scale
h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3, .h3 { font-size: $h3; }
h4, .h4,
p, dl, ol, ul  { font-size: $h4; }
h5, .h5        { font-size: $h5; }
h6, .h6, small { font-size: $h6; }

// Responsive Type Scale
@if ($responsive-type) {
  @media screen and (min-width: $breakpoint-desktop) {
    .h1 { font-size: $desktop-h1; }
    .h2 { font-size: $desktop-h2; }
    .h3 { font-size: $desktop-h3; }
    .h4 { font-size: $desktop-h4; }
    .h5 { font-size: $desktop-h5; }
    .h6 { font-size: $desktop-h6; }
  }
}

// Utilities
.bold    { font-weight: bold; }
.regular { font-weight: normal; }
.italic  { font-style: italic; }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

// Alignment
.left-align   { text-align: left; }
.center       { text-align: center; }
.right-align  { text-align: right; }
.justified    { text-align: justify; }

