
// Converted Variables


// Custom Media Query Variables


/* Basscss Utility Layout */

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fit {
  max-width: 100%;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}