/* Variables */
@import 'basscss/colors';

$link-color: $blue;
$button-background-color: $blue;
$pre-background-color: $silver;

@import 'basscss/defaults';

@import 'basscss/base-reset';
@import 'basscss/base-forms';
@import 'basscss/base-buttons';
@import 'basscss/base-tables';
@import 'basscss/base-typography';

@import 'basscss/utility-layout';
@import 'basscss/utility-typography';
@import 'basscss/utility-white-space';
@import 'basscss/utility-responsive-states';
@import 'basscss/positions';
@import 'basscss/ui-utility-button-sizes';

@import 'basscss/grid';
@import 'basscss/flex-object'; /* New */

@import 'basscss/color-base';
@import 'basscss/color-forms';
@import 'basscss/color-forms-dark';
@import 'basscss/input-range';
@import 'basscss/progress';
@import 'basscss/color-tables';

@import 'basscss/button-outline'; /* New */
@import 'basscss/button-transparent'; /* New */
@import 'basscss/background-images'; /* New */
@import 'basscss/color-borders';
