
// Converted Variables

$dark-gray: #333 !default;
$darken-1: rgba(#000,.0625) !default;
$button-nav-light-color: $blue /* Fallback value:  inherit */ !default;
$hover-background-color: $darken-1 !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Button Nav Light */

.button-nav-light {
  color: $button-nav-light-color;
  background-color: transparent;
}

.button-nav-light:hover {
  background-color: $hover-background-color;
}
.button-nav-light:active,
.button-nav-light.is-active {
  color: $dark-gray;
}