
// Converted Variables

$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$green: #2ecc40 !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$yellow: #ffdc00 !default;
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #fff !default;
$silver: #ddd !default;
$gray: #aaa !default;
$black: #111 !default;
$darken-1: rgba(0,0,0,.0625) !default;
$darken-2: rgba(0,0,0,.125) !default;
$darken-3: rgba(0,0,0,.25) !default;
$darken-4: rgba(0,0,0,.5) !default;
$border-color: $darken-2 !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Color Base */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

body {
  color: $black;
  background-color: white;
}

a {
  color: $link-color /* Fallback value:  $blue  */;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

pre, code {
  background-color: $pre-background-color /* Fallback value:  $silver  */;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.button {
  color: white;
  background-color: $button-background-color /* Fallback value:  $blue  */;
  border-radius: $border-radius;
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button:hover {
  box-shadow: inset 0 0 0 20rem $darken-1;
}

.button:focus {
  outline: none;
  border-color: $darken-2;
  box-shadow: 0 0 2px 1px $darken-3;
}

.button:active,
.button.is-active {
  box-shadow: inset 0 0 0 20rem $darken-2,
    inset 0 3px 4px 0 $darken-3,
    0 0 1px $darken-2;
}

.button:disabled,
.button.is-disabled {
  opacity: .5;
}