
/* Pygments Syntax Highlighting */

/*
.highlight {
  background-color: var(--darken-2, pink);
  border-radius: var(--border-radius);
}
*/

.c  { color: #999988; font-style: italic; }
.cm { color: #999988; }
.cp { color: #999999; }
.c1 { color: #999988; }
.cs { color: #999999; }
.gh { color: #999999; }
.bp { color: #999999; }
.go { color: #888888; }
.gp { color: #555555; }
.nn { color: #555555; }
.n  { color: #333333; }

.w  { color: #bbbbbb; }

.kt { color: #445588; }
.nc { color: #445588; }
.nt { color: navy; }

.err { color: #a61717; background-color: #e3d2d2; }
.gr { color: #aa0000; }
.gt { color: #aa0000; }
.s  { color: #dd1144; }
.ne { color: #990000; }
.nf { color: #990000; }

.sb { color: #dd1144; }
.sc { color: #dd1144; }
.sd { color: #dd1144; }
.s2 { color: #dd1144; }
.se { color: #dd1144; }
.sh { color: #dd1144; }
.si { color: #dd1144; }
.sx { color: #dd1144; }
.s1 { color: #dd1144; }

.gu { color: #800080; }
.ni { color: purple; }
.ss { color: #990073; }

.m  { color: #009999; }
.mf { color: #009999; }
.mh { color: #009999; }
.mi { color: #009999; }
.mo { color: #009999; }
.il { color: #009999; }
.nb { color: #0086b3; }
.na { color: teal; }
.no { color: teal; }
.nv { color: teal; }
.vc { color: teal; }
.vg { color: teal; }
.vi { color: teal; }

.gd    { color: #000000; background-color: #ffdddd; }
.gd .x { color: #000000; background-color: #ffaaaa; }
.gi    { color: #000000; background-color: #ddffdd; }
.gi .x { color: #000000; background-color: #aaffaa; }
.gc { color: #999; background-color: #EAF2F5; }

.sr { color: #009926; }

