@function color($whatever) {
  @return rgba(nth($whatever, 1), nth($whatever, 2));
}
@function alpha($whatever) {
  @return $whatever
}
/* Variables */
@import 'scss/colors';
$link-color: $blue !default;
$button-background-color: $blue !default;
$pre-background-color: $silver !default;

@import 'scss/defaults';

@import 'scss/base-reset';
@import 'scss/base-forms';
@import 'scss/base-buttons';
@import 'scss/base-tables';
@import 'scss/base-typography';

@import 'scss/utility-layout';
@import 'scss/utility-typography';
@import 'scss/utility-white-space';
@import 'scss/utility-responsive-states';
@import 'scss/positions';
@import 'scss/ui-utility-button-sizes';

@import 'scss/grid';
@import 'scss/flex-object'; /* New */

@import 'scss/color-base';
@import 'scss/color-forms';
@import 'scss/color-forms-dark';
@import 'scss/input-range';
@import 'scss/progress';
@import 'scss/color-tables';

@import 'scss/button-outline'; /* New */
@import 'scss/button-transparent'; /* New */
@import 'scss/background-images'; /* New */
@import 'scss/color-borders';
