/* Basscss.com Styles */

@import "basscss-base-reset";
@import "basscss-base-typography";
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';
@import 'basscss-ui-utility-button-sizes';
@import 'basscss-ui-utility-groups';
@import 'basscss-ui-utility-disclosure-states';

@import 'basscss-grid';
@import 'basscss-table-object';
@import "flex-object";

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-color-tables';
@import 'basscss-color-buttons';
@import 'basscss-colors';
@import 'basscss-color-borders';

@import "./base/typography";
@import "./base/responsive-type";
@import "./base/type-h0";
@import "./base/icons";
@import "./base/button-sizes";
@import "./base/folding-table";

@import "./color/site";
@import "./color/colors";
@import "./color/button-bright-blue-outline";
@import "./color/animations";
@import "./color/highlight";

@import "./components/example";

/* Custom Media Queries */
@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);


:root {
  --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 600;
  --h4: 1.125rem;
  --h5: 1rem;
  --h6: .875rem;
  --container-width: 76rem;

  --heading-font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

@import "./color/variables";


