/*
  
    Basscss.com Styles

*/


@import "basscss-base";
@import "basscss-utilities";
@import "basscss-positions";
@import "basscss-ui-utilities";
@import "basscss-grid";
@import "basscss-table-object";
@import "basscss-color-basic";


@import "./base/typography";
@import "./base/responsive-type";
@import "./base/type-h0";
@import "./base/icons";
@import "./base/button-sizes";
@import "./base/folding-table";

@import "./color/site";
@import "./color/colors";
@import "./color/button-bright-blue-outline";
@import "./color/animations";
@import "./color/highlight";

@import "./components/example";

/* Custom Media Queries */
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --font-family: 'San Francisco Text', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 500;
  --h4: 1.125rem;
  --h5: 1rem;
  --h6: .875rem;
  --container-width: 72em;
  /*
  --border-color: rgba(#000,.25);
  */

  --heading-font-family: 'San Francisco Display', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


@import "./color/variables";


