/* Basscss.com Styles */

@import "basscss-base-reset";
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';
@import "basscss-base-typography";

@import 'basscss-ui-utility-button-sizes';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';
@import 'basscss-ui-utility-groups';

@import 'basscss-utility-headings';

@import 'basscss-grid';
@import 'basscss-table-object';
@import "flex-object";

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-color-tables';

@import 'basscss-button-blue';
@import 'basscss-button-blue-outline';
@import 'basscss-button-red';
@import 'basscss-button-gray';
@import 'basscss-button-light-gray';
@import 'basscss-button-nav-light';
@import 'basscss-button-nav-dark';
@import 'basscss-button-nav-tab';

@import 'basscss-colors';
@import 'basscss-color-borders';

@import 'basscss-background-images';

@import "./base/typography";

@import "./base/responsive-type";

@import "./base/icons";
@import "./base/folding-table";

@import "./utility/positions";
@import "./utility/layout";

@import "./color/site";
@import "./color/colors";
@import "./color/button-outline";
@import "./color/button-bright-blue-outline";
@import "./color/animations";
@import "basscss-highlight";


/* Custom Media Queries */
@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);


@import "basscss-defaults";

:root {
  --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 600;
  --button-font-weight: 600;
  --h0: 2.25rem;
  --h4: 1.125rem;
  --h5: .875rem;
  --h6: .75rem;
  --container-width: 76rem;
  --heading-font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --button-font-size: .875rem;

  --h0-responsive:  5vw;
  --h0-responsive-max:  4.8rem;

}

@import "./color/variables";


