// Custom Theme for BASSCSS site

// Site colors
$dark: #1c2226;
$blue: #00bbdd;
$light-gray: #eaeff0;
$mid-gray: #a0aab0;

  // Standard colors from BASSCSS
  $s-blue: #0096cc;
  $s-light-gray: #eee;
  $s-mid-gray: #777;
  $s-dark-gray: #333;

  $s-red: #f52;
  $s-green: #0f6;
  $s-orange: #fc2;

  .s-blue { color: $s-blue; }
  .s-light-gray { color: $s-light-gray; }
  .s-mid-gray { color: $s-mid-gray; }
  .s-dark-gray { color: $s-dark-gray; }
  .s-red { color: $s-red; }
  .s-green { color: $s-green; }
  .s-orange { color: $s-orange; }

  .bg-s-blue { background-color: $s-blue; }
  .bg-s-light-gray { background-color: $s-light-gray; }
  .bg-s-mid-gray { background-color: $s-mid-gray; }
  .bg-s-dark-gray { background-color: $s-dark-gray; }
  .bg-s-red { background-color: $s-red; }
  .bg-s-green { background-color: $s-green; }
  .bg-s-orange { background-color: $s-orange; }

body {
  color: $dark;
  background-color: #fff;
}
.reverse {
  color: rgba(#fff,.8);
  background-color: $dark;   
}
a, .link {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue,10%);
  }
}

.blue { color: $blue; }
.bg-blue { background-color: $blue; }
.dark { color: $dark; }
.bg-dark { background-color: $dark; }
.mid-gray { color: $mid-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.light-gray { color: $light-gray; }
.bg-light-gray { background-color: $light-gray; }
.white { color: #fff; }
.bg-white { background-color: #fff; }


// Utilities

.rounded { border-radius: .25rem; }
.transition-all { transition: all .3s ease; }


// Buttons

.button {
  border-radius: .25rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition: box-shadow, background-color;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 .125rem #fff, 0 0 1px .25rem rgba($blue,.5);
  }
}

.button-dark {
  background-color: $dark;
}

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: darken($blue,20%);
  }
}

.button-gray {
  color: #fff;
  background-color: $mid-gray;
  &:hover {
    color: #fff;
    background-color: darken($mid-gray, 20%);
  }
}


// Forms

.form-light {
  .input,
  .textarea,
  .select {
    transition: box-shadow .2s ease;
    border-color: $mid-gray;
    &:focus {
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 .125rem rgba($blue,.5);
    }
  }
}

.radio input,
.checkbox input {
  transition: box-shadow .2s ease;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
  }
}

.radio input {
  border-radius: 50%;
}


// Testing only
.border-light-gray { border-color: $light-gray; }
.border-mid-gray { border-color: $mid-gray; }

.border {
  border-style: solid;
  border-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
}


