<footer class="measure wrap px-responsive py1 mb3 clearfix">
  <div class="left mobile-block mobile-center">
    <a class="button button-small button-box-blue" href="https://twitter.com/intent/tweet?text=BASSCSS: Next-Level CSS Toolkit&url=http://jxnblk.github.io/basscss&via=jxnblk" target="_blank">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
      </svg>
      Tweet
    </a>
    <span class="mr1 mobile-hide"></span>
    <br class="mobile-show">
    {% include _nav.html %}
  </div>
  <div class="right right-align mobile-block mobile-center">
    <p class="f5 leading-3 mb0 mid-gray">
      <svg class="icon icon-heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path d=" M0 10 C0 6, 3 2, 8 2 C12 2, 15 5, 16 6 C17 5, 20 2, 24 2 C30 2, 32 6, 32 10 C32 18, 18 29, 16 30 C14 29, 0 18, 0 10 " />
      </svg>
      Made with love by
      <a href="//jxnblk.com">Jxnblk</a>
    </p>
  </div>
</footer>
