// Basscss.com theme

.fill-white { fill: #fff; }
.icon-heart { fill: #f30; }

.button-box-blue {
  color: $blue;
  background-color: rgba($blue,0);
  box-shadow: inset 0 0 0 2px $blue;
  svg {
    fill: $blue;
  }
  &:hover {
    color: #fff;
    background-color: rgba(lighten($blue,5%),1);
    svg {
      fill: #fff;
    }
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $blue, 0 0 0 2px #fff, 0 0 0 4px rgba($blue,.5);
  }
}

.dot {
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.dot-blue {
  color: white;
  color: $dark-gray;
  background-color: $blue;
}

.border-blue {
  border: 1px solid $blue;
}

.nav-bass {
  .active { color: $dark-gray; }
}

.nav-bass-dark {
  .active { color: white; }
}

code {
  background-color: $light-gray;
  border-radius: $border-radius;
}

.outline-blue * {
  box-shadow: 0 0 0 1px rgba($blue,.75);
}
