
h1, h2, h3, h4, h5, h6, strong, .bold { font-weight: 600; }
pre, code, samp, .mono {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}
pre { overflow: auto; }

.helvetica { font-family: 'Helvetica Neue', Helvetica, sans-serif; }
.avenir { font-family: 'Avenir Next', Helvetica, sans-serif; }

.h0 { font-size: 2.75rem; }
@media (min-width: $breakpoint-desktop) {
  .h0 { font-size: 5.5rem; }
}
.tracked-in { letter-spacing: -0.025em; }
.tracked-out { letter-spacing: 0.05em; }

.lh-ui { line-height: $ui-height; }
