// Basscss.com variables

$font-family: 'Open Sans', Helvetica, sans-serif;
//$font-family: 'Avenir Next', Helvetica, sans-serif;

//$blue: #0cd;
$blue: #0be;

//$dark-gray: #1c2226;
$dark-gray: #405660;
$dark-gray: #304650;

$mid-gray: #667680;
$light-gray: #f3f9f9;

