/* Base Element Themes */

body {
  color: var(--dark-gray);
  background-color: white;
}

a {
  color: var(--blue);
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

code {
  background-color: var(--darken-1);
  border-radius: var(--border-radius);
}

