/* Flex Object */

@import "./lib/flex.css";
@import "./lib/sm-flex.css";
@import "./lib/md-flex.css";
@import "./lib/lg-flex.css";

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

