/* Responsive folding table module
 */

@media (max-width: 32em) {

  .folding-table,
  .folding-table thead,
  .folding-table tr,
  .folding-table th,
  .folding-table tbody,
  .folding-table td {
    display: block;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .folding-table td:first-child {
    font-weight: bold;
    padding-top: var(--space-2);
  }
  .folding-table td:last-child {
    padding-bottom: var(--space-2);
  }

}
