
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

.monospace { font-family: 'Source Code Pro', Consolas, monospace }
.helvetica { font-family: 'Helvetica Neue', Helvetica, sans-serif }

