// Padding

.p1  { padding: .5*$space; }
.px1 { padding-right: .5*$space; padding-left: .5*$space; }
.py1 { padding-top: .5*$space; padding-bottom: .5*$space; }

.p2  { padding: $space; }
.px2 { padding-right: $space; padding-left: $space; }
.py2 { padding-top: $space; padding-bottom: $space; }

.p3  { padding: 2*$space; }
.px3 { padding-right: 2*$space; padding-left: 2*$space; }
.py3 { padding-top: 2*$space; padding-bottom: 2*$space; }

.p4  { padding: 4*$space; }
.px4 { padding-right: 4*$space; padding-left: 4*$space; }
.py4 { padding-top: 4*$space; padding-bottom: 4*$space; }

