// Variables

// Default whitespace unit
$space: 1rem !default;

// Typography
$font-family: 'Helvetica Neue', Helvetica, sans-serif !default;
$line-height: 1.5 !default;
$line-height-heading: 1.25 !default;

// Type Scale
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .75rem !default;
$h6: .75rem !default;

// Responsive type scale
$responsive-type: true !default;
$desktop-h1: 4rem !default;
$desktop-h2: 2rem !default;
$desktop-h3: 1.5rem !default;
$desktop-h4: 1.125rem !default;
$desktop-h5: .875rem !default;
$desktop-h6: .875rem !default;

// Breakpoints
$breakpoint-mobile: 32em !default;
$breakpoint-desktop: 48em !default;

// Heights for buttons, forms, nav, etc.
$ui-height: 2.25rem !default;
$ui-height-small: 1.75rem !default;
$ui-height-big: 3rem !default;

$ui-padding: .75*$space !default;

// Grid
$grid-max-width: 75rem !default;
$grid-gutter: 2 * $space !default;

// Theme
$blue: #0096cc !default;
$light-gray: #eee !default;
$mid-gray: #777 !default;
$dark-gray: #333 !default;

$red: #f96010 !default;
$green: #11e966 !default;
$yellow: #ffdc00 !default;

// Alpha blacks for UI elements
$darken-1: rgba(#000,.125) !default;
$darken-2: rgba(#000,.25) !default;
$darken-3: rgba(#000,.375) !default;

// Borders
$border-color: #ccc !default;
$border-width: 1px !default;
$border-radius: .25rem !default;

