
@keyframes fadein {
  from {
    opacity: .5;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeout {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.1);
    opacity: 0;
    display: none;
  }
}

.animation-fadein {
  animation: fadein .1s ease-out forwards;
}

