
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--dark-gray);
}

/*
a.is-active { color: var(--dark-gray) }
*/

.border-blue { border: 1px solid var(--blue) }

.outline-blue * { box-shadow: 0 0 0 1px rgba(var(--blue), .75) }

.highlight pre { background-color: transparent; margin-bottom: 0 }

.hr-block {
  height: 4px;
  border: 0;
}

