
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--dark-gray);
}

pre {
  padding: var(--space-2);
  background-color: var(--darken-1);
}
p code {
  color: var(--blue);
  background-color: var(--light-blue);
}
pre code {
  padding: 0;
  background-color: transparent;
}

.border-blue { border: 1px solid var(--blue) }

.outline-blue * { box-shadow: 0 0 0 1px rgba(var(--blue), .75) }

.highlight pre { background-color: transparent; margin-bottom: 0 }

.hr-block {
  height: 4px;
  border: 0;
}

.bg-triangles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(-45deg, rgba(255,63,0,.15), rgba(0,255,127,.1)),
    url(/docs/triangles.svg);
}

.block-link {
}
.block-link:hover {
  text-decoration: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(var(--blue),.5);
}

