
:root {

  /*
  --blue: #0076df;
  --red: #f96010;
  --green: #11e966;
  --yellow: #ffdc00;
  --border-color: var(--darken-3);
  --border-width: 1px;
  --border-radius: 3px;
  --darken-1: rgba(#000, .0625);
  --darken-2: rgba(#000, .125);
  --darken-3: rgba(#000, .25);
  --darken-4: rgba(#000, .5);
  */
  --dark-gray: #304650;
  --mid-gray: #667680;
  --light-gray: #c3c9c9;
  --lighter-gray: #f3f9f9;


  /*
  --bright-blue: #0be;
  --bright-blue: #00a3ff;
  */
  --bright-blue: #0096ff;

}
