---
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BASSCSS Guide</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Simple, responsive CSS/SASS toolkit based on OOCSS principles">
  <meta name="keywords" content="CSS, SASS, OOCSS, framework, boilerplate, minimal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../site/styles.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,400italic,600" rel="stylesheet">
  <link rel="icon" href="../favicon.png">
  <link rel="../apple-touch-icon-precomposed" href="apple-touch-icon.png">
</head>
<body>

  <header class="px-responsive white bg-dark">
    <nav class="right-align">
      {% include _nav.html %}
    </nav>
    <div class="measure wrap py2">
      <h1 class="h2 caps mb0 blue">Guide</h1>
      <p class="p caps">Web design basics with BASSCSS</p>
    </div>
  </header>

<div class="measure wrap px-responsive">

  <section id="rams-quote" class="py2">
    <blockquote class="blockquote mid-gray">
      <p class="h2 italic mb0">Good design is<br class="mobile-hide"> as little design as possible</p>
      <cite>&ndash; Dieter Rams</cite>
    </blockquote>
  </section>


  <section id="markup" class="py2">
    <h1>Document structure</h1>
    <p class="p">
      HTML is a semantically structured markup language.
      When building anything on the web, start with clean markup that accurately
      reflects your information hierarchy.
      When hierarchy changes, be sure to update the markup before making any stylistic changes.
      The most important parts of web design involve no CSS at all.
    </p>
  </section>

  <section id="multi-class-pattern" class="py2">
    <h1>Multiclass CSS pattern</h1>
    <p class="p">
      BASSCSS is based on Object Oriented CSS (OOCSS) principles.
      OOCSS has many benefits, including code readability, reusable styles, smaller CSS files,
      more performant selectors, more flexible markup structure, and code scalability.
      BASSCSS is meant to be a very simple and intuitive take on this approach,
      well suited to designing in the browser, rapid prototyping, or serving as the basis for a larger project.
    </p>
    <p class="p">
      One of the defining features of OOCSS is the multiclass pattern.
      This is the practice of using multiple classes on a single HTML element.
      This can seem strange at first, but once you get the hang of things,
      it can make designing and building websites much faster and easier.
      It also has some significant front-end performance benefits.
    </p>
    <h2>Example</h2>
    <div class="p1 mb2 bg-light-gray rounded">
{% highlight html %}
<div class="h3 p1 mb2 bg-light-gray rounded">
  A box with font-size .h3, padding, margin-bottom, a light gray background and rounded corners
</div>
{% endhighlight %}
    </div>
    <h2>Order</h2>
    <p class="p">
      While the order of classes doesn't matter to the browser, maintaining
      a consistent order will drastically improve code readability.
      I recommend the following order:
    </p>
    <ol class="p">
      <li><strong>Typography</strong> &ndash; sets the visual hieararchy and is one of the most important parts of web design</li>
      <li><strong>Positioning</strong> &ndash; can severly change document flow</li>
      <li><strong>Layout</strong> &ndash; can affect other elements and document flow</li>
      <li><strong>Theme</strong> &ndash; has little or no effect on layout</li>
      <li><strong>State</strong> &ndash; is dynamic and often unnecessary</li>
    </ol>
    <p class="p">Modules and components, such as buttons, should follow the same ordering convention.</p>
  </section>

  <section id="typography" class="py2">
    <h1>Writing and Typography</h1>
    <p class="p">
      Good writing and typography are key to successful web design.
      Typography should serve as the basis for gestalt, user flows, and information hierarchy.
      Ensure that links, form labels, helper text, buttons, and other microcopy
      receive as much attention as body copy, and remember the two serve very different purposes.
    </p>
  </section>

  <section id="block-level-inline" class="py2">
    <h1>Block-level and Inline Elements</h1>
    <p class="p">
      There are two basic types of elements in HTML.
      <a href="https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements">Block-level elements</a>
      are larger container elements that begin on a new line and take up the entire width
      of their parent container by default.
      Block-level elements can also have set widths and heights.
      They may contain other block-level elements and inline elements.
    </p>
    <p class="p">
      <a href="https://developer.mozilla.org/en-US/docs/HTML/Inline_elements">Inline elements</a>
      do not begin a new line and contain content and other inline elements.
      Inline elements are only as large as the content they contain.
    </p>
    <p class="p">
      In HTML5, things get a little more complicated, but the basics still apply.
      Learn more:
      <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories">HTML5 Content Categories</a>.
    </p>
  </section>

  <section id="display" class="py2">
    <h1>Display Property</h1>
    <p class="p">
      BASSCSS's display utilities override the default behaviors of block-level and inline elements.
      To make a block-level element inline, use the <code>.inline</code> class.
      To make inline elements block-level, use <code>.block</code>.
    </p>
    <p class="p">
      Inline-block is a mix of these two properties.
      Inline-block elements have a block element box, with optional width and height,
      but flow with surrounding content like an inline element.
    </p>
  </section>

  <section id="box-model" class="py2">
    <h1>Box Model</h1>
    <p class="p">
      The box-model is the basis of all HTML layout.
      Understanding how it works is crucial to designing for the web.
      Block-level elements naturally fill the width of their parents.
      Margins add space around the element. Borders add space around the element, but within the margins.
      Padding adds space within the element.
      If an element has no set width, it will shrink to fit its container.
    </p>
    <p class="p">
      If an element has a declared width or height, padding and borders will be added to those values.
      It's often easier to add padding and borders to child elements rather than directly to elements with set widths.
      For example, when using a grid system.
    </p>
    <h2 class="f5 mid-gray">Box Model Simulation</h2>
    <div class="center p1 bg-light-gray">
      <p class="mb0">Margin</p>
      <div class="m1 py1 px2 bg-mid-gray border border-dark">
        <p class="">Padding</p>
        <div class="p2 white bg-dark">Content</div>
      </div>
    </div>
  </section>

  <section id="floats" class="py2">
    <h1>Floats</h1>
    <p class="p">
      Floats are for wrapping text around images, but are also used for breaking
      elements out of the normal document flow.
      When you float an element left or right, the content following the float will flow beside and around the element.
    </p>
    <p class="p">
      Do not set display properties on floated elements.
      When elements are floated, they are set to display block.
    </p>
    <div class="p1 white bg-mid-gray">
      <div class="right p1 m1 white bg-blue">.right</div>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin. Bacon t-bone hamburger turkey capicola rump short loin. Drumstick pork fatback pork chop doner pork belly prosciutto pastrami sausage. Ground round prosciutto shank pastrami corned beef venison tail. Turkey short loin tenderloin jerky porchetta pork loin.</p>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="right">.right</div>
<p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin. Bacon t-bone hamburger turkey capicola rump short loin. Drumstick pork fatback pork chop doner pork belly prosciutto pastrami sausage. Ground round prosciutto shank pastrami corned beef venison tail. Turkey short loin tenderloin jerky porchetta pork loin.</p>
{% endhighlight %}
    </div>
    <p class="p">
      If an element contains only floated children, such as in a grid system, its height will collapse.
      Clearfixes are used to ensure the parent element maintains the height of its content.
      This container element is using the <code>.clearfix</code> class.
    </p>
    <div class="clearfix white bg-mid-gray">
      <div class="left p2 bg-blue">.left</div>
      <div class="left p2 bg-blue">.left</div>
      <div class="right p2 bg-blue">.right</div>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="clearfix">
  <div class="left">.left</div>
  <div class="left">.left</div>
  <div class="right">.right</div>
</div>
{% endhighlight %}
    </div>
    <p class="p">
      Overflow hidden crops overflowing content, but can also be used as a clearfix
      because it creates what's called a new <i>block formatting context</i>.
    </p>
    <div class="oh white bg-mid-gray">
      <div class="left p2 bg-blue">.left</div>
      <div class="left p2 bg-blue">
        .left
        <div class="p1 bg-mid-gray" style="width:64rem">wider than parent element</div>
      </div>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="oh">
  <div class="left">.left</div>
  <div class="left">
    .left
    <div style="width:64rem">wider than parent element</div>
  </div>
</div>
{% endhighlight %}
    </div>
    <p class="p">
      Using overflow hidden on an element placed after one or more floated elements will prevent that element from wrapping under the floated elements.
      This is the basis of the
      <a href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/">
        Media Object.
      </a>
    </p>
    <div class="clearfix white bg-mid-gray">
      <div class="left p1 mr1 bg-blue">.left</div>
      <p class="oh">.oh (overflow hidden) Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin. Bacon t-bone hamburger turkey capicola rump short loin. Drumstick pork fatback pork chop doner pork belly prosciutto pastrami sausage. Ground round prosciutto shank pastrami corned beef venison tail. Turkey short loin tenderloin jerky porchetta pork loin.</p>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="clearfix">
  <div class="left">.left</div>
  <p class="oh">.oh (overflow hidden) Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin. Bacon t-bone hamburger turkey capicola rump short loin. Drumstick pork fatback pork chop doner pork belly prosciutto pastrami sausage. Ground round prosciutto shank pastrami corned beef venison tail. Turkey short loin tenderloin jerky porchetta pork loin.</p>
</div>
{% endhighlight %}
    </div>
    <div class="clearfix white bg-light-gray">
      <div class="left p1 bg-blue">.left</div>
      <div class="right p1 bg-blue">.right</div>
      <p class="oh p1 bg-mid-gray">.oh (overflow hidden) Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="clearfix">
  <div class="left">.left</div>
  <div class="right">.right</div>
  <p class="oh">.oh (overflow hidden) Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
</div>
{% endhighlight %}
    </div>
  </section>

  <section id="widths" class="py2">
    <h1>Widths</h1>
    <p class="p">
      The default document flow in HTML is fluid.
      This means that creating fluid and responsive layouts should be very easy to achieve.
      Avoid using fixed widths at all in your layout.
      Instead rely heavily on the normal document flow.
    </p>
    <p class="p">
      For elements with inherit widths, such as images, consider using a max-width of 100%
      to ensure it never overflows its container.
      Use the <code>.fit</code> class to do this.
    </p>
    <div class="p1 mb2 bg-light-gray rounded">
{% highlight html %}
<img src="cat.gif" alt="Cat" class="fit" />
{% endhighlight %}
    </div>
    <p class="p">
      If you do need to use widths, use percentages.
      Most grid systems these days use this approach,
      along with media queries to prevent broken layouts across devices.
      When using percentage-based widths, remember that the percentage is based on width of the parent,
      so nesting elements with percentage-based widths will get incrementally smaller as you nest.
    </p>
    <div class="clearfix white bg-mid-gray">
      <div class="left half-width py1">.left.half-width</div>
      <div class="left half-width clearfix">
        <div class="left half-width py1 bg-blue">Nested .left.half-width</div>
        <div class="left half-width py1">Nested .left.half-width</div>
      </div>
    </div>
    <div class="p1 mb2 bg-light-gray">
{% highlight html %}
<div class="clearfix">
  <div class="left half-width">.left.half-width</div>
  <div class="left half-width clearfix">
    <div class="left half-width">Nested .left.half-width</div>
    <div class="left half-width">Nested .left.half-width</div>
  </div>
</div>
{% endhighlight %}
    </div>
  </section>

  <section id="media-queries" class="py2">
    <h1>Media Queries and Mobile-First Approach</h1>
    <p class="p">
      When building responsive websites, best practices suggest using a mobile-first approach.
      First consider content and user flows, then create layouts that work well
      at small screen sizes and touch devices.
      Once that's in a good place use styling to enhance the experience on larger devices.
      For interactive elements, design for touchscreen-sized tap targets first.
      This usually translates well for use on desktop computers with pointing devices.
    </p>
    <p class="p">
      BASSCSS includes several state utilities for showing and hiding content on mobile devices.
      Use these with care.
      Mobile users still want the same content across devices and often switch devices mid-task.
      Creating a cohesive experience is key to a good experience with your product.
    </p>
  </section>

  <section id="positions" class="py2">
    <h1>Positions</h1>
    <p class="p">
      Positions allow you to move elements out of the default document flow.
      They can be tricky to use, and I recommend using them as little as possible.
    </p>
    <p class="p">
      By default, elements have a <code>static</code> position.
      Use the <code>.relative</code> class to keep elements in the default document flow
      but create a new positioning context.
      This is useful when anchoring to specific elements or dealing with <code>z-index</code>.
    </p>
    <p class="p">
      Use the <code>.absolute</code> class along with the
      <code>.t0</code>,
      <code>.r0</code>,
      <code>.b0</code>, and
      <code>.l0</code> utilities to anchor elements to the top, right, bottom,
      or left of their current positioning context.
      Use the padding or margin utilities to add space around the element.
      Using two opposing anchoring utilities, such as
      <code>.l0</code> and <code>.r0</code>
      will make an element span the full width.
    </p>
    <p class="p">
      Use the <code>.fixed</code> class to give an element fixed positioning relative to the viewport.
      Use this with caution. It can cause issues with mobile devices and is commonly abused in web design.
    </p>
    <p class="p">
      By default, positioned elements are stacked one on top of the other based on their position in the document.
      Try reordering elements in the document before applying z-index properties.
      If you do need to set z-index, start with the <code>.z1</code> class and work up from there.
      And be sure you <a href="http://philipwalton.com/articles/what-no-one-told-you-about-z-index/">understand z-index</a> before adding more than four levels.
    </p>

    <div class="relative p4 bg-mid-gray">
      .relative
      <div class="absolute t0 r0 p1 m1 white bg-dark">.absolute .t0 .r0</div>
      <div class="absolute t0 r0 p1 m3 white bg-blue">.absolute .t0 .r0</div>
    </div>
    <div class="p1 mb2 bg-light-gray ">
{% highlight html %}
<div class="relative">
  .relative
  <div class="absolute t0 r0 m1">.absolute .t0 .r0 .m1</div>
  <div class="absolute t0 r0 m3">.absolute .t0 .r0 .m3</div>
</div>
{% endhighlight %}
    </div>
      
  </section>

  <section id="extending-basscss" class="py2">
    <h1>Extending BASSCSS</h1>
    <p class="p">
      You can do a lot with BASSCSS's suite of styles, but if you decide to add new styles to your project,
      here are some tips and recommendations to keep your code simple and maintainable:
    </p>
    <ul class="p">
      <li>Keep styles as reusable as possible.</li>
      <li>Only apply styles to base elements once.</li>
      <li>Never use ids, attributes (e.g. <code>[type='text']</code>) or the universal selector (<code>*</code>) as selectors.</li>
      <li>Never use adjoining selectors.</li>
      <li>Avoid parent and sibling selectors.</li>
      <li>Prefer using class selectors directly on the elements they're styling.</li>
      <li>Use clear, descriptive names for selectors.</li>
      <li>Keep structural styles and theme styles separate.</li>
      <li>Avoid using mixins and extends in sass &ndash; it's often easier and more readable (especially for others) to write styles out by hand.</li>
    </ul>
  </section>

  <section id="cta" class="py4">
    <h2 class="h2">Ready to rock?</h2>
    <a href="//github.com/jxnblk/basscss" class="p button button-big button-box-blue">View on Github</a>
  </section>

</div>

  {% include _footer.html %}


</body>
</html>
