/*

    BASSCSS v4.0.0

    Low-level CSS toolkit
    http://basscss.com

*/

@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-table-object";

svg { max-height: 100% }

.icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: .125em;
  fill: currentcolor;
}

/* Basscss.com Variables */
/* Set defaults in themes/variables */
:root {
  --font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Avenir Next', 'Open Sans', sans-serif;
  --heading-font-weight: 600;
  --dark-gray: #304650;
  --blue: #0be;
  --mid-gray: #667680;
  --light-gray: #f3f9f9;
}

/* Themes */

@import "./themes/base";
@import "./themes/colors";

