/* Basscss Btn */

button,
.btn {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  height: auto;
  border: var(--border-width) solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

button,
button::after,
button::before,
.btn,
.btn::after,
.btn::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Color

.btn {
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

.btn:active,
.btn.is-active {
  box-shadow: inset 0 0 0 20rem var(--darken-2),
    inset 0 3px 4px 0 var(--darken-3),
    0 0 1px var(--darken-2);
}

.btn:disabled,
.btn.is-disabled {
  opacity: .5;
}


@import 'basscss-defaults';

:root {
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight, bold);
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
}

