:root {
    --font-family: 'Helvetica Neue', Helvetica, sans-serif;
    --line-height: 1.5;
    --heading-font-family: var(--font-family);
    --heading-font-weight: bold;
    --heading-line-height: 1.25;
    --monospace-font-family: 'Source Code Pro', Consolas, monospace;
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: .875rem;
    --h6: .75rem;
    --bold-font-weight: bold;
    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
    --container-width: 64em;
    --blue: #0076df;
    --red: #f95020;
    --green: #00cf26;
    --yellow: #efcc00;
    --dark-gray: #333;
    --mid-gray: #777;
    --light-gray: #ccc;
    --lighter-gray: #eee;
    --darken-1: rgba(#000,.0625);
    --darken-2: rgba(#000,.125);
    --darken-3: rgba(#000,.25);
    --darken-4: rgba(#000,.5);
    --border-color: var(--light-gray);
    --border-width: 1px;
    --border-radius: 3px;
    --hover-background-color: var(--darken-1)
}