
.button-big {
  padding: calc(1.5 * var(--ui-padding-y)) calc(1.5 * var(--ui-padding-x));
}

.button-small {
  /*
  padding: calc(.75 * var(--ui-padding-y)) calc(.75 * var(--ui-padding-x));
  */
  padding: 0 calc(.5 * var(--ui-padding-x));
  height: 1.75em;
  min-height: 1.75em;
  line-height: 1.75em;
}

.button-block {
  display: block;
  width: 100%;
}

